<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vue POST请求示例</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submitForm">
      <label for="title">标题:</label>
      <input type="text" id="title" v-model="formData.title">
      <br>
      <label for="content">内容:</label>
      <textarea id="content" v-model="formData.content"></textarea>
      <br>
      <button type="submit">提交</button>
    </form>
    <div v-if="isLoading">
      <p>正在提交...</p>
    </div>
    <div v-if="isSuccess">
      <p>提交成功！ -{{ msg }}</p>
    </div>
    <div v-if="isFailure">
      <p>提交失败！ {{ msg }} </p>
    </div>
  </div>

  <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.21.1"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        formData: {
          title: '',
          content: ''
        },
        isLoading: false,
        isSuccess: false,
        isFailure: false,
        timer: null,
        all: '',
        msg: '',
      },
      methods: {
        async submitForm() {
          this.isLoading = true;
          this.isSuccess = false;
          this.isFailure = false;
          this.timer = setTimeout(() => {
            this.isLoading = false;
            this.timer = null;
          }, 2000); // 提交后立即显示加载消息，这里设置为2秒是为了测试能看到效果，实际应用中可以根据需要调整。
          try {
            const response = await axios.post('https://tom.rinuo.x10.mx/user', this.formData);
            console.log(response); // 可以在控制台看到API返回的结果，如果需要处理返回的数据，可以在这里进行。
            console.log(response.data.msg);
            if (response.data.code === 200) { // 检查API的响应状态码是否为200，如果是则显示成功消息。
              this.isLoading = false;
              this.isSuccess = true;
              this.msg = response.data.msg;
              this.formData.title = '';
              this.formData.content = '';
              this.timer = setTimeout(() => {
                this.isSuccess = false;
                this.timer = null;
                this.all = response;
                this.msg = response.data.msg;
                
              }, 9000); // 9秒后消失。
            } else { // 如果API的响应状态码不是200，则显示失败消息。
              this.isLoading = false;
              this.isFailure = true;
              this.msg = response.data.msg;
              this.timer = setTimeout(() => {
                this.isFailure = false;
                this.timer = null;
              }, 8000); // 8秒后消失。
            }
          } catch (error) {
            this.isLoading = false;
            this.isFailure = true;
            this.timer = setTimeout(() => {
              this.isFailure = false;
              this.timer = null;
            }, 8000); // 8秒后消失。
          }
        }
      }
    });
  </script>
</body>
</html>